package view

templ Index() {
	<main class="hero bg-base-200 min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1 class="text-5xl font-bold">Welcome to prototype app</h1>
				<p class="py-6">
					A descriptive description about what we do. Note to self to
					come up with a good description that could be added here.
				</p>
				<a class="btn btn-primary" href="/dashboard">Get Started</a>
			</div>
		</div>
	</main>
}
